<div class="container">
  <%= link_to 'New Recipe', new_recipe_path, class: 'btn btn-primary new-food' %>
    <div>
      <% @recipes.each do |recipe| %>
        <div>
          <div>
            <h3><%= recipe.name %></h3>
            <%= link_to 'Delete', recipe_path(recipe), method: :delete, class: 'btn btn-outline-secondary' %>
          </div>
          <div>
            <p><%= recipe.description %></p>
          </div>
        </div>
      <% end %>
    </div>
</div>

