// Place all the styles related to the foods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  background-color: #f5f5f5;
}

.form-container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #ccc;
}

.table-responsive {
  height: 80vh;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.new-food {
  float: right;
  margin-bottom: 3rem;
}
