// Place all the styles related to the PublicRecipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.text-center {
  text-align: center;
}

.public-recipe__card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 5rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0.1px 0.1px 5px #ccc;
}

.public-recipe__name {
  display: flex;
  flex-direction: column;
}

.public-recipe__name h2 a {
  color: #000;
  text-decoration: none;
}
